Web/Web-Service/WebService-Session-1/WebService-Assignment-1/WebContent/wsdl/Server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.metacube.com" xmlns:intf="http://webservices.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fahrenheitToCelsius">
    <complexType>
     <sequence>
      <element name="fahrenheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="fahrenheitToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="fahrenheitToCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fahrenheitToCelsiusRequest">

      <wsdl:part element="impl:fahrenheitToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fahrenheitToCelsiusResponse">

      <wsdl:part element="impl:fahrenheitToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Server">

      <wsdl:operation name="fahrenheitToCelsius">

         <wsdl:input message="impl:fahrenheitToCelsiusRequest" name="fahrenheitToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:fahrenheitToCelsiusResponse" name="fahrenheitToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServerSoapBinding" type="impl:Server">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fahrenheitToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fahrenheitToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fahrenheitToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServerService">

      <wsdl:port binding="impl:ServerSoapBinding" name="Server">

         <wsdlsoap:address location="http://localhost:8080/WebService-Assignment-1/services/Server"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
