Web/Webservice/Assignment-1/WSAssignment_1/WebContent/wsdl/TemperatureConvertor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.meta.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.meta.com" xmlns:intf="http://webservices.meta.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.meta.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="farenheitToCelsius">
    <complexType>
     <sequence>
      <element name="farenheit" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="farenheitToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="farenheitToCelsiusReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="farenheitToCelsiusResponse">

      <wsdl:part element="impl:farenheitToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="farenheitToCelsiusRequest">

      <wsdl:part element="impl:farenheitToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TemperatureConvertor">

      <wsdl:operation name="farenheitToCelsius">

         <wsdl:input message="impl:farenheitToCelsiusRequest" name="farenheitToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:farenheitToCelsiusResponse" name="farenheitToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureConvertorSoapBinding" type="impl:TemperatureConvertor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="farenheitToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="farenheitToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="farenheitToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureConvertorService">

      <wsdl:port binding="impl:TemperatureConvertorSoapBinding" name="TemperatureConvertor">

         <wsdlsoap:address location="http://localhost:8080/WSAssignment_1/services/TemperatureConvertor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
