Web/SimpleSoapExample/WebContent/wsdl/TemperatureConverter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.metacube.com" xmlns:intf="http://webservices.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convertFarenheitToCelsius">
    <complexType>
     <sequence>
      <element name="farenheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertFarenheitToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="convertFarenheitToCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertFarenheitToCelsiusRequest">

      <wsdl:part element="impl:convertFarenheitToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertFarenheitToCelsiusResponse">

      <wsdl:part element="impl:convertFarenheitToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TemperatureConverter">

      <wsdl:operation name="convertFarenheitToCelsius">

         <wsdl:input message="impl:convertFarenheitToCelsiusRequest" name="convertFarenheitToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertFarenheitToCelsiusResponse" name="convertFarenheitToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureConverterSoapBinding" type="impl:TemperatureConverter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convertFarenheitToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertFarenheitToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertFarenheitToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureConverterService">

      <wsdl:port binding="impl:TemperatureConverterSoapBinding" name="TemperatureConverter">

         <wsdlsoap:address location="http://localhost:8080/SimpleSoapExample/services/TemperatureConverter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
