Web/WebServiceAssignment1/WebContent/wsdl/TemperatureConverter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.com" xmlns:intf="http://webservices.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="Converter">
    <complexType>
     <sequence>
      <element name="fahrneheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="ConverterResponse">
    <complexType>
     <sequence>
      <element name="ConverterReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="ConverterResponse">

      <wsdl:part element="impl:ConverterResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ConverterRequest">

      <wsdl:part element="impl:Converter" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TemperatureConverter">

      <wsdl:operation name="Converter">

         <wsdl:input message="impl:ConverterRequest" name="ConverterRequest">

       </wsdl:input>

         <wsdl:output message="impl:ConverterResponse" name="ConverterResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureConverterSoapBinding" type="impl:TemperatureConverter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Converter">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="ConverterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ConverterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureConverterService">

      <wsdl:port binding="impl:TemperatureConverterSoapBinding" name="TemperatureConverter">

         <wsdlsoap:address location="http://localhost:8080/WebServiceAssignment1/services/TemperatureConverter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
