Web/WebService/WebServiceAssignment/WebContent/wsdl/TemperatureConvertor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com" xmlns:intf="http://com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fahrenheitToCelsius">
    <complexType>
     <sequence>
      <element name="value" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="fahrenheitToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="fahrenheitToCelsiusReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="CelsiusTofahrenheit">
    <complexType>
     <sequence>
      <element name="value" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="CelsiusTofahrenheitResponse">
    <complexType>
     <sequence>
      <element name="CelsiusTofahrenheitReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fahrenheitToCelsiusRequest">

      <wsdl:part element="impl:fahrenheitToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CelsiusTofahrenheitRequest">

      <wsdl:part element="impl:CelsiusTofahrenheit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fahrenheitToCelsiusResponse">

      <wsdl:part element="impl:fahrenheitToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="CelsiusTofahrenheitResponse">

      <wsdl:part element="impl:CelsiusTofahrenheitResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TemperatureConvertor">

      <wsdl:operation name="fahrenheitToCelsius">

         <wsdl:input message="impl:fahrenheitToCelsiusRequest" name="fahrenheitToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:fahrenheitToCelsiusResponse" name="fahrenheitToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CelsiusTofahrenheit">

         <wsdl:input message="impl:CelsiusTofahrenheitRequest" name="CelsiusTofahrenheitRequest">

       </wsdl:input>

         <wsdl:output message="impl:CelsiusTofahrenheitResponse" name="CelsiusTofahrenheitResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureConvertorSoapBinding" type="impl:TemperatureConvertor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fahrenheitToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fahrenheitToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fahrenheitToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="CelsiusTofahrenheit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="CelsiusTofahrenheitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="CelsiusTofahrenheitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureConvertorService">

      <wsdl:port binding="impl:TemperatureConvertorSoapBinding" name="TemperatureConvertor">

         <wsdlsoap:address location="http://localhost:8080/WebServiceAssignment/services/TemperatureConvertor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
