Web/WebServices Session1/TempConverter/WebContent/wsdl/TempConvert.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.metacube.com" xmlns:intf="http://webservices.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fahrenhiteToCelsius">
    <complexType>
     <sequence>
      <element name="tempInFahrenhite" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="fahrenhiteToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="fahrenhiteToCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fahrenhiteToCelsiusResponse">

      <wsdl:part element="impl:fahrenhiteToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fahrenhiteToCelsiusRequest">

      <wsdl:part element="impl:fahrenhiteToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TempConvert">

      <wsdl:operation name="fahrenhiteToCelsius">

         <wsdl:input message="impl:fahrenhiteToCelsiusRequest" name="fahrenhiteToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:fahrenhiteToCelsiusResponse" name="fahrenhiteToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TempConvertSoapBinding" type="impl:TempConvert">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fahrenhiteToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fahrenhiteToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fahrenhiteToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TempConvertService">

      <wsdl:port binding="impl:TempConvertSoapBinding" name="TempConvert">

         <wsdlsoap:address location="http://localhost:8080/TempConverter/services/TempConvert"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
